body{
    background-image:url(../images/03.jpg);
}

h1{
 color:greenyellow;
  text-align:center;
    background-color:Black;
        }

h2{
 color:ghostwhite;
  text-align:center;
    background-color:Black;
        }

h3{
 color:ghostwhite;
  text-align:center;
    background-color:Black;
        }
html{
    color:aquamarine;
}
